{# you can print out variables like this #}
<pre>{{ block|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

<div class="c-latest-posts{{ classes ? ' ' ~ classes : '' }}">

    {% if title %}
        <h3 class="c-latest-posts__title"{{ title_color ? ' style="color: ' ~ title_color ~ ';"' : '' }}>{{ title }}</h3>
    {% endif %}

    {% if posts is defined and posts is iterable %}
        <div class="c-latest-posts__items">
            {% for post in posts %}
                <div class="c-latest-posts__item">
                    <h4 class="c-latest-posts__title">
                        <a class="c-latest-posts__title-link" href="{{ post.link }}">
                            {{ post.title }}
                        </a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There is no posts yet.</p>
    {% endif %}
</div>